.page-title {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 56px;

}
@media (min-width: $phone-landscape) {
  .page-title {

  }
}
@media (min-width: $tablet-portrait) {
  .page-title {

  }
}
@media (min-width: $tablet-landscape) {
  .page-title {

  }
}
@media (min-width: $desktop) {
  .page-title {

  }
}

