// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.site-footer{
  margin-top: 50px;
  padding: 40px 16px 35px;
  background-color: #ee4e3a;
  text-align: center;

  .author {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__photo{
      margin-right: 20px;
    }

    &__title {
      margin-top: 8px;
      margin-bottom: 13px;
      font-size: 19px;
    }
  }

  .social {

    &__item {

      svg {
        fill: #fff;
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .site-footer {

  }
}
@media (min-width: $tablet-portrait) {
  .site-footer {
    margin-top: 100px;
    padding-top: 45px;
    padding-bottom: 40px;

    &__layout {
      max-width: 970px;
      margin: 0 auto;
    }
  }
}
@media (min-width: $tablet-landscape) {
  .site-footer {

    .social {

      &__item{

        svg{
          transition: fill .3s ease;
        }

        &:hover svg{
          fill: #000;
        }
      }
    }

  }
}
@media (min-width: $desktop) {
  .site-footer {

  }
}
