.article {
  color: #231F20;
  font-size: 17px;
  line-height: 30px;

  > p, dl, dd p{
    margin-bottom: 30px;
  }

  dt{
    font-weight: bold;
  }

  h1, h2, h3, h4{
    margin-bottom: 33px;
    color: #182959;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
  }

  span{
    font-size: 14px;
  }

  .text-right{
    text-align: right;
  }

  ul{
    margin: -25px 0 30px;
    padding-left: 14px;
  }

  li{
    position: relative;
    padding-left: 24px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 13px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      //background-color: #FF7227;
      background-color: #c42034;
    }

  }

  blockquote{
    position: relative;
    margin: 0 0 30px 37px;
    color: rgba(114,115,122,.6);
    font-style: italic;

    &:before {
      content: '';
      position: absolute;
      left: -24px;
      top: 13px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #5F6067;
    }

  }

  img{
    display: block;
    width: 100%;
    height: auto;
  }

  p a{
    color: #000;
    text-decoration: underline;
  }

  time{
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    //color: #FF7227;
    color: #c42034;
  }

}
@media (min-width: $phone-landscape) {
  .article {

  }
}
@media (min-width: $tablet-portrait) {
  .article {
    font-size: 22px;
    line-height: 41px;

    > p, dl, dd p{
      margin-bottom: 40px;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .article {

    time{
      margin-bottom: 27px;
    }

    h1, h2{
      width: 80%;
      margin: 0 auto 76px;
      font-size: 40px;
      line-height: 46px;
    }

  }
}
@media (min-width: $desktop) {
  .article {

    p a:hover{
      text-decoration: none;
    }

  }
}

