.boa-page {

  &__insights{
    padding: 0 25px;

    &-text{
      margin-bottom: 56px;

      p{
        margin-bottom: 30px;
      }

    }

    &-promo{
      margin-bottom: 50px;
      border-radius: 16px;
      background-color: #fff;
    }

    &-picture{
      margin: 0 auto 25px;

      img{
        display: block;
        width: 100%;
      }

    }

    &-legend{
      counter-reset: list 0;

      li{
        position: relative;
        margin-bottom: 10px;
        padding-left: 36px;

        &:before{
          position: absolute;
          left: 0;
          top: 3px;
          counter-increment: list;
          content: counter(list) '.';
        }

        &:last-of-type{
          margin-bottom: 0;
        }

        span{
          display: block;
          font-size: 14px;
          line-height: 26px;
        }

      }

    }

  }

  .partners{
    margin: 50px auto;
  }

}
@media (min-width: $phone-landscape) {
  .boa-page {

  }
}
@media (min-width: $tablet-portrait) {
  .boa-page {

    .partners{
      margin: 150px auto 100px;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .boa-page {

    &__insights{

      &-text{
        max-width: 995px;
        margin: 0 auto 56px;
      }

      &-promo{
        max-width: 9.96em;
        margin: 0 auto 1.59em;
        font-size: 91px;
      }

      &-picture {
        position: relative;
        width: 9.96em;
      }

      &-legend{
        position: relative;
        width: 9.96em;
        margin: 0 auto;

        li{
          position: absolute;
          bottom: -1.25em;
          margin-bottom: 0;
          padding: .39em;
          border-radius: .16em;
          background-color: #fff;
          box-shadow: 0 12px 80px -25px rgba(0,0,0,.25);

          &:before{
            width: .1em;
            height: .1em;
            top: .18em;
            left: .39em;
            border-radius: 50%;
            //background-color: #FF7227;
            background-color: #c42034;
            pointer-events: none;
            content: '';
          }

          &:after{
            position: absolute;
            bottom: calc( 100% - .18em );
            right: calc( 100% - .45em );
            content: '';
            box-sizing: border-box;
            pointer-events: none;
          }

          &:nth-child(1){
            left: -.03em;
            width: 2.9em;

            &:before{
              top: -.13em;
              left: .39em;
            }

            &:after{
              height: .25em;
              //border: 1px solid #FF7227;
              border: 1px solid #c42034;
            }

          }

          &:nth-child(2){
            left: 3.54em;
            width: 2.80em;

            &:before{
              top: -1.05em;
              left: -2.37em;
            }

            &:after{
              height: 1.19em;
              width: 2.78em;
              border-top-right-radius: 15px;
              //border-right: 2px solid #FF7227;
              //border-top: 2px solid #FF7227;
              border-right: 2px solid #c42034;
              border-top: 2px solid #c42034;
            }

          }

          &:nth-child(3){
            right: -.03em;
            width: 3em;

            &:before{
              top: -4.82em;
              left: -3.21em;
            }

            &:after{
              height: 4.96em;
              width: 3.63em;
              border-top-right-radius: 15px;
              //border-right: 2px solid #FF7227;
              //border-top: 2px solid #FF7227;
              border-right: 2px solid #c42034;
              border-top: 2px solid #c42034;
            }

          }

          span{
            position: relative;
            font-size: .18em;
            line-height: 1.67em;

            &:before{
              position: absolute;
              top: -1.15em;
              left: 0;
              width: .56em;
              height: .56em;
              border-radius: 50%;
              //background-color: #FF7227;
              background-color: #c42034;
              box-sizing: border-box;
              pointer-events: none;
              content: '';
            }

          }

        }

      }

    }

  }
}
@media (min-width: $desktop) {
  .boa-page {

    &__insights{

      &-promo{
        font-size: 100px;
        box-shadow: 0 12px 80px -25px rgba(0,0,0,.25);
      }

    }

  }
}