.btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  @include Lato;
  font-weight: normal;
  text-align: center;
  transition: background-color .3s ease;

  span{
    @include Lato;
    white-space: nowrap;
  }

  &--color{

    &-1{
      border-color: transparent;
      //background-color: #FF7227;
      background-color: #c42034;
      color: #fff;
      transition: background-color .3s ease, border-color .3s ease, color .3s ease;

      &:active {
        border-color: #c42034;
        //border-color: #FF7227;
        background-color: #fff;
        //color: #FF7227;
        color: #c42034;
      }

    }

    &-2{
      border-color: transparent;
      background-color: #fff;
      //color: #FF7227;
      color: #c42034;
      transition: background-color .3s ease, border-color .3s ease, color .3s ease;

      &:active {
        border-color: #fff;
        //background-color: #FF7227;
        background-color: #c42034;
        color: #fff;
      }

    }

    &-3{
      //border-color: #FF7227;
      border-color: #c42034;
      background-color: #fff;
      color: #c42034;
      //color: #FF7227;
      transition: color .3s ease, background-color .3s ease;

      &:active {
        color: #fff;
        //background-color: #FF7227;
        background-color: #c42034;
      }

    }

  }

  &--type{

    &-1{
      height: 23px;
      padding: 0 17px;
      border-radius: 4px;

      span{
        font-size: 10px;
        font-weight: 900;
        text-transform: uppercase;
      }

    }

    &-2{
      height: 53px;
      width: 239px;
      border-radius: 10px;

      span{
        font-size: 18px;
        font-weight: 900;
      }

    }

    &-3{
      height: 53px;
      width: 239px;
      border-radius: 10px;

      span{
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
      }

    }

    &-4{
      height: 44px;
      width: 83px;
      border-radius: 10px;

      span{
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
      }

    }

    &-5{
      height: 34px;
      width: 139px;
      border-radius: 10px;

      span{
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
      }

    }

  }

}
@media (min-width: $phone-landscape) {
  .btn {

  }
}
@media (min-width: $tablet-portrait) {
  .btn {

    &--type{

      &-1{
        min-width: 140px;
        height: 34px;
        padding: 0 22px;
        border-radius: 10px;

        span{
          font-size: 14px;
        }

      }

      &-4{
        width: 147px;
      }

    }

  }
}
@media (min-width: $tablet-landscape) {
  .btn {

  }
}
@media (min-width: $desktop) {
  .btn {

    &--color{

      &-1{

        &:hover {
          border-color: #c42034;
          //border-color: #FF7227;
          background-color: #fff;
          //color: #FF7227;
          color: #c42034;
        }

      }

      &-2{

        &:hover {
          border-color: #fff;
          background-color: #c42034;
          //background-color: #FF7227;
          color: #fff;
        }

      }

      &-3{

        &:hover {
          color: #fff;
          //background-color: #FF7227;
          background-color: #c42034;
        }

      }

    }

  }
}