.get-in-click {
  margin-bottom: 78px;
  padding: 0 20px;
  text-align: center;

  h1, h2, h3, h4{
    margin-bottom: 23px;
    color: #1F396C;
    font-size: 34px;
    line-height: 40px;
  }

}
@media (min-width: $phone-landscape) {
  .get-in-click {

  }
}
@media (min-width: $tablet-portrait) {
  .get-in-click {
    margin-bottom: 124px;

    h1, h2, h3, h4{
      margin-bottom: 19px;
      font-size: 50px;
      line-height: 56px;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .get-in-click {

  }
}
@media (min-width: $desktop) {
  .get-in-click {

  }
}

