.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-height: 544px;
  padding: 20px 0 48px;
  text-align: center;
  overflow: hidden;

  img{
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 353px;
    max-height: 100%;
    transform: translate(-50%, -50%);
  }

  &__layout{
    position: relative;
    width: 100%;
    padding: 0 20px;
    z-index: 1;
  }

  &__title{
    margin-bottom: 33px;
    color: #fff;
    @include Roboto;
    font-size: 34px;
    line-height: 40px;
  }

}
@media (min-width: $phone-landscape) {
  .hero {

  }
}
@media (min-width: $tablet-portrait) {
  .hero {
    min-height: auto;
    padding: 0;

    img{
      display: block;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      transform: translate( 0 );
    }

    &__layout{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: 1200px;
      padding: 0 15px 15px;
      transform: translate( -50%, -50% );
    }

    &__title{
      font-size: 50px;
      line-height: 58px;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .hero {

  }
}
@media (min-width: $desktop) {
  .hero {

  }
}

