.hero-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-height: 522px;
  margin-bottom: 32px;
  padding: 16px 0 22px;
  text-align: center;
  overflow: hidden;

  img{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    min-width: 1440px;
    min-height: 100%;
    transform: translateX(-50%);
  }

  &__layout{
    position: relative;
    width: 100%;
    padding: 0 20px;
    z-index: 1;
  }

  &__content{
    margin-bottom: 51px;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;

    h1, h2, h3, h4{
      margin-bottom: 14px;
      @include Roboto;
      font-size: 34px;
      line-height: 40px;
    }

  }

  &__subscribe{
    max-width: 480px;
    margin: 0 auto;

    & > span{
      display: block;
      margin-bottom: 12px;
      color: #F89406;
      font-size: 14px;
      line-height: 30px;
      font-weight: bold;
      text-align: center;
    }

    .subscribe {

      input[type=email]{
        height: 61px;
        padding: 0 110px 0 30px;
        font-size: 16px;
      }

      button {
        top: 9px;
        right: 10px;
      }

    }

  }

  &--about-us{
    padding: 15px 0 24px;
  }

}
@media (min-width: $phone-landscape) {
  .hero-inner {

  }
}
@media (min-width: $tablet-portrait) {
  .hero-inner {
    min-height: 473px;
    margin-bottom: 72px;
    padding: 0 0 99px;

    &__content{
      max-width: 1000px;
      margin: 0 auto 30px;

    }

    &__subscribe{
      right: 33px;
      bottom: 32px;

      & > span{
        font-size: 18px;
      }

    }

  }
}
@media (min-width: $tablet-landscape) {
  .hero-inner {

    &__content{
      font-size: 22px;
      line-height: 41px;

      h1, h2, h3, h4{
        margin-bottom: 12px;
        font-size: 50px;
        line-height: 58px;
      }

    }

  }
}
@media (min-width: $desktop) {
  .hero-inner {

  }
}

