.hero-article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-height: 255px;
  margin-bottom: 32px;
  padding: 16px 0 78px;
  text-align: center;
  overflow: hidden;

  img{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    min-width: 1440px;
    min-height: 100%;
    transform: translateX(-50%);
  }

  &__layout{
    position: relative;
    width: 100%;
    padding: 0 20px;
    z-index: 1;
  }

  &__content{
    color: #fff;

    h1, h2, h3, h4{
      margin-bottom: 14px;
      @include Roboto;
      font-size: 34px;
      line-height: 40px;
    }

  }

}
@media (min-width: $phone-landscape) {
  .hero-article {

  }
}
@media (min-width: $tablet-portrait) {
  .hero-article {
    min-height: 280px;
    margin-bottom: 28px;
    padding: 0 0 19px;

    &__content{
      max-width: 1000px;
      margin: 0 auto;

    }

  }
}
@media (min-width: $tablet-landscape) {
  .hero-article {

    &__content{
      font-size: 22px;
      line-height: 41px;

      h1, h2, h3, h4{
        margin-bottom: 19px;
        font-size: 50px;
        line-height: 58px;
      }

    }

  }
}
@media (min-width: $desktop) {
  .hero-article {

  }
}

