.hero-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 217px;
  margin-bottom: 50px;
  padding: 74px 15px 59px;
  //background: url(../img/bg_top_demo.jpg) repeat #FF7227;
  background: url(../img/bg_top_demo.jpg) repeat #c42034;
  background-size: cover;
  text-align: center;

  &__layout{
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__content{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;

    h1, h2, h3, h4{
      margin-bottom: 15px;
      font-size: 34px;
      line-height: 40px;
    }

  }

}
@media (min-width: $phone-landscape) {
  .hero-contact {

  }
}
@media (min-width: $tablet-portrait) {
  .hero-contact {
    padding: 71px calc( 50% - 621px) 68px;

    &__layout{
      max-width: 1000px;
    }

    &__content{
      font-size: 22px;
      line-height: 41px;
      font-weight: normal;

      h1, h2, h3, h4{
        margin-bottom: 16px;
        font-size: 50px;
        line-height: 58px;
      }

    }

  }
}
@media (min-width: $tablet-landscape) {
  .hero-contact {

  }
}
@media (min-width: $desktop) {
  .hero-contact {

  }
}

