.logo {
  position: absolute;
  top: 50%;
  left: 21px;
  width: 99px;
  transform: translateY(-41%);

  svg{
    display: block;
    max-width: 100%;
  }

}
@media (min-width: $phone-landscape) {
  .logo {

  }
}
@media (min-width: $tablet-portrait) {
  .logo {
    left: 13px;
    width: 175px;
    transform: translateY(-34%);

  }
}
@media (min-width: $tablet-landscape) {
  .logo {

  }
}
@media (min-width: $desktop) {
  .logo {

  }
}

