.partners {
  margin-bottom: 20px;
  padding: 0 13px;

  &__layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 41px;
    margin-bottom: 25px;
    padding: 0 10px;

    img{
      display: block;
      max-width: 71px;
      max-height: 41px;
    }

  }

}
@media (min-width: $phone-landscape) {
  .partners {

  }
}
@media (min-width: $tablet-portrait) {
  .partners {
    margin-bottom: 1px;

    &__layout{
      max-width: 1200px;
      margin: 0 auto;
    }

    &__item{
      width: 25%;
      height: 65px;
      margin-bottom: 66px;

      img{
        max-width: 148px;
        max-height: 65px;
      }

    }

  }
}
@media (min-width: $tablet-landscape) {
  .partners {

    &__item {
      width: 20%;
    }

  }
}
@media (min-width: $desktop) {
  .partners {

    &__item {
      width: 16.66%;
    }

  }
}

