.site {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100%;
  min-width: 320px;
  @include Lato;
  overflow: hidden;

  &__header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 60px;
    padding: 0 20px;
  }

  &__content{
    margin-bottom: 80px;
  }

  &__layout{
    padding: 0 22px;
  }

  &__footer{
    padding: 44px 20px 40px;
    border-top: 2px solid #E1E1E1;
  }

  &__article{
    padding: 0 22px;
  }

  &__wrap{
    margin-top: -32px;
  }

}
.grecaptcha-badge {
  display: none;
}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

    &__header{
      height: 100px;
    }

    &__layout{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 52px;
      padding: 0 15px;
    }

    &__content{
      width: calc( 100% - 310px );
      margin-bottom: 0;
    }

    &__article{
      margin-bottom: 107px;

      .article{
        max-width: 791px;
        margin: 0 auto;
      }

    }

    &__aside{
      display: flex;
      flex-direction: column;
      width: 276px;
    }

    &__wrap{
      position: relative;
      margin-top: 0;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .site {

    &__layout{
      max-width: 1097px;
      margin: -32px auto 119px;
    }

    &__content {
      width: calc(100% - 430px);
      padding-right: 36px;
    }

    &__footer{
      padding: 40px 24px 15px;

      &-layout{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
      }

    }

  }
}
@media (min-width: $desktop) {
  .site {

    &__header{
      width: 100%;
      max-width: 1227px;
      margin: 0 auto;
      padding: 0 12px 0 10px;
    }

    &__footer{

      &-layout{
        max-width: 1097px;
        margin: 0 auto;
      }

    }

  }
}