.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__avatar {
    display: block;
    margin-bottom: 20px;

    img {
      display: block;
      width: 120px;
      height: auto;
      border-radius: 50%;
      overflow: hidden;
    }

  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 280px;

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-decoration: underline;
      color: #1F396C;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;

      img {
        width: 30px;
        height: 30px;
        display: block;
        transition: all .3s ease;
      }

      &:first-child{
        margin-bottom: 20px;
      }

      &:not(:first-child){
        margin-right: 20px;
      }

    }

  }

}
@media (min-width: $phone-landscape) {
  .social {

  }
}
@media (min-width: $tablet-portrait) {
  .social {
    justify-content: flex-start;
    flex-direction: row;

    &__avatar {
      margin-bottom: 0;
      margin-right: 30px;
    }

    &__list {
      margin: 0;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}
@media (min-width: $tablet-landscape) {
  .social {

  }
}
@media (min-width: $desktop) {
  .social {

    a{
      transition: all .3s ease;

      &:hover {
        opacity: .75;

        img {
          transform: scale(1.1);
        }

      }
    }

    &__social {
      max-width: 1097px;
      margin: 0 auto;
    }

  }
}

