.subscribe {
  position: relative;

  form{
    position: relative;
  }

  &__preloader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;

    &.is-active{
      opacity: 1;
      visibility: visible;
    }

    .preloader__wrap{
      width: 20px;
      height: 20px;
    }

  }

  input[type=email]{
    width: 100%;
    height: 41px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    @include Lato;
  }

  button {
    position: absolute;
  }

  .alert{
    position: absolute;
    right: 15px;
    bottom: calc( 100% + 7px );
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #fff;
    color: #FF798A;
    @include Lato;
    font-size: 12px;
    line-height: 15px;

    &:after {
      top: 100%;
      left: 10px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #fff;
      border-width: 5px;
    }

  }

}
@media (min-width: $phone-landscape) {
  .subscribe {

  }
}
@media (min-width: $tablet-portrait) {
  .subscribe {

  }
}
@media (min-width: $tablet-landscape) {
  .subscribe {

  }
}
@media (min-width: $desktop) {
  .subscribe {

  }
}

