.blog-article {
  padding: 0;

  h1, h2, h3{
    text-align: left;
  }

  &__date{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    font-size: 20px;
    white-space: nowrap;

    svg{
      width: 24px;
      height: 22px;
      margin-right: 8px;
    }

  }

  &__head{
    margin-bottom: 40px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(23,23,23,.2);
  }

  &__categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  &__categories-item{
    display: block;
    margin: 0 0 15px 16px;
    padding: 3px 23px 7px;
    border-radius: 10px;
    white-space: nowrap;
    background-color: rgba(23,23,23,.03);
    color: #171717;
    font-size: 18px;

    &:first-child{
      margin-left: 0;
    }

  }

  &__footer{
    margin-bottom: 40px;
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(23,23,23,.2);
    color: #1F396C;
    font-style: italic;

    p{
      margin-bottom: 30px;
    }

  }

  &__social{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a{
      max-width: 40px;
      height: 40px;
      margin-right: 30px;

      svg{
        max-width: 40px;
        height: 40px;
        fill: #1F396C;

        .fill{
          fill: #1F396C;
        }

      }

      &:last-child{
        margin-right: 0;
      }

    }

  }

}
@media (min-width: $phone-landscape) {
  .blog-article {

  }
}
@media (min-width: $tablet-portrait) {
  .blog-article {
    margin-bottom: 18px;

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__date{
      margin-bottom: 0;
    }

    &__categories{
      justify-content: flex-end;
      max-width: calc( 100% - 150px );
    }

  }
}
@media (min-width: $tablet-landscape) {
  .blog-article {

    h1{
      margin-bottom: 31px;
    }

  }
}
@media (min-width: $desktop) {
  .blog-article {

    &__categories-item{
      transition: color .3s ease, background-color .3s ease;

      &:hover{
        color: #fff;
        background-color: #1F396C;
      }

    }

    &__social{

      a svg {
        transition: fill .3s ease;

        .fill{
          transition: fill .3s ease;
        }

        &:hover{
          fill: #FF7227;

          .fill{
            fill: #FF7227;
          }

        }

      }

    }

  }
}

