.blog-recent {
  margin-bottom: 60px;

  &__title{
    margin-bottom: 25px;
    color: #1F396C;
    font-size: 26px;
    line-height: 40px;
  }

  &__item{
    display: block;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: #171717;
    background-color: #fff;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.14);
    overflow: hidden;

    &:last-child{
      margin-bottom: 0;
    }

  }

  &__date{
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
  }

  &__pic{
    position: relative;
    height: 130px;
    width: 100%;
    overflow: hidden;

    img{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
    }

  }

  &__topic{
    padding: 15px 20px;
    font-size: 18px;
    line-height: 24px;
  }

}
@media (min-width: $phone-landscape) {
  .blog-recent {

  }
}
@media (min-width: $tablet-portrait) {
  .blog-recent {
    order: 2;
  }
}
@media (min-width: $tablet-landscape) {
  .blog-recent {

  }
}
@media (min-width: $desktop) {
  .blog-recent {

    &__item{
      transition: color .3s ease, box-shadow .3s ease;

      &:hover{
        box-shadow: 0 0 28px 0 rgba(0,0,0,0.35);
        color: #1F396C;
      }

    }

  }
}

