.boa-page {
  width: 100%;
  margin-bottom: 60px;
  padding: 0 15px;
  color: #72737a;
  font-size: 18px;
  line-height: 30px;

  h1, h2, h3, h4, &__topic{
    margin-bottom: 26px;
    color: #182959;
    font-size: 24px;
    line-height: 1.6;
    font-weight: 400;
    text-align: center;
  }

  h2{
    color: #171717;
  }

  &__article{

    ul {

      li{
        position: relative;
        margin-bottom: 10px;
        padding-left: 30px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 8px;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background: url(../../img/icon_arrow.png) no-repeat;
          background-size: cover;
        }

      }

    }

    > p{
      margin-bottom: 30px;
    }

  }

  &__applications{
    margin-bottom: 49px;

    &-wrap{

      dl{
        min-height: 210px;
        margin-bottom: 31px;
        padding: 29px 24px;
        border: 2px solid #FF7227;
        border-radius: 10px;
        box-shadow: 0 0 7px 0 rgba(0,0,0,.14);
        color: #72737A;
        font-size: 18px;
        line-height: 30px;
      }

      dt{
        margin-bottom: 21px;
        color: #000;
        font-size: 22px;
        line-height: 27px;
        font-weight: 600;
        text-transform: uppercase;
      }

    }

  }

  &__insights{

    &-text{
      margin-bottom: 56px;

      p{
        margin-bottom: 30px;
      }

    }

    &-promo{
      margin-bottom: 50px;
      padding: 15px 15px 25px;
      border-radius: 16px;
      background-color: #fff;
    }

    &-picture{
      margin: 0 auto 25px;

      img{
        display: block;
        width: 100%;
      }

    }

    &-legend{
      counter-reset: list 0;

      li{
        position: relative;
        margin-bottom: 10px;
        padding-left: 36px;

        &:before{
          position: absolute;
          left: 0;
          top: 0;
          counter-increment: list;
          content: counter(list) '.';
        }

        &:last-of-type{
          margin-bottom: 0;
        }

        span{
          display: block;
          color: #72737A;
          font-size: 18px;
          line-height: 30px;
          font-weight: 900;
        }

      }

    }

  }

  &__list{

    h2{
      margin-bottom: 19px;
      text-align: left;
    }

    p{
      margin-bottom: 8px;
    }

    p + h2{
      margin-top: 40px;
    }

    dl{
      margin-bottom: 21px;
    }

    dt{
      margin-bottom: 11px;
      color: #000;
      font-size: 24px;
      line-height: 29px;
      font-weight: bold;
    }

    li{
      position: relative;
      padding-left: 21px;

      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 13px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #5F6067;
      }

    }

  }

  .partners{
    margin: 50px auto;
  }

}
@media (min-width: $phone-landscape) {
  .boa-page {

  }
}
@media (min-width: $tablet-portrait) {
  .boa-page {

    h1, &__topic{
      margin-bottom: 82px;
      font-size: 50px;
      letter-spacing: 4px;
      line-height: 80px;
    }

    h2{
      margin: 0 auto 49px;
      font-size: 30px;
      line-height: 40px;
    }

    p + h2{
      margin-top: 81px;
    }

    &__applications{

      &-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
      }

      dl{
        width: 48.7%;
      }

    }

    &__article{
      margin-bottom: 100px;

      ul{
        margin: 41px 0 9px 106px;
      }

    }

    .partners{
      margin: 150px auto 100px;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .boa-page {
    max-width: 1233px;
    margin: 0 auto 102px;

    &__article{
      max-width: 1000px;
      margin: 0 auto 100px;
    }

    &__insights{

      &-text{
        max-width: 995px;
        margin: 0 auto 56px;
      }

      &-promo{
        max-width: 11.42em;
        margin: 0 auto 1.59em;
        padding: .72em 0 .47em;
        font-size: 91px;
      }

      &-picture {
        position: relative;
        width: 9.96em;
      }

      &-legend{
        position: relative;
        width: 9.96em;
        margin: 0 auto;

        li{
          position: absolute;
          bottom: -1.25em;
          margin-bottom: 0;
          padding: .39em;
          border-radius: .16em;
          background-color: #fff;
          box-shadow: 0 12px 80px -25px rgba(0,0,0,.25);

          &:before{
            width: .1em;
            height: .1em;
            top: .18em;
            left: .39em;
            border-radius: 50%;
            background-color: #FF7227;
            pointer-events: none;
            content: '';
          }

          &:after{
            position: absolute;
            bottom: calc( 100% - .18em );
            right: calc( 100% - .45em );
            content: '';
            box-sizing: border-box;
            pointer-events: none;
          }

          &:nth-child(1){
            left: -.03em;
            width: 2.9em;

            &:before{
              top: -.13em;
              left: .39em;
            }

            &:after{
              height: .25em;
              border: 1px solid #FF7227;
            }

          }

          &:nth-child(2){
            left: 3.54em;
            width: 2.80em;

            &:before{
              top: -1.05em;
              left: -2.37em;
            }

            &:after{
              height: 1.19em;
              width: 2.78em;
              border-top-right-radius: 15px;
              border-right: 2px solid #FF7227;
              border-top: 2px solid #FF7227;
            }

          }

          &:nth-child(3){
            right: -.03em;
            width: 3em;

            &:before{
              top: -4.82em;
              left: -3.21em;
            }

            &:after{
              height: 4.96em;
              width: 3.63em;
              border-top-right-radius: 15px;
              border-right: 2px solid #FF7227;
              border-top: 2px solid #FF7227;
            }

          }

          span{
            position: relative;
            font-size: .18em;
            line-height: 1.67em;

            &:before{
              position: absolute;
              top: -1.15em;
              left: 0;
              width: .56em;
              height: .56em;
              border-radius: 50%;
              background-color: #FF7227;
              box-sizing: border-box;
              pointer-events: none;
              content: '';
            }

          }

        }

      }

    }

    &__list{
      max-width: 996px;
      margin: 0 auto;

      h2{
        margin-bottom: 19px;
      }

      p + h2{
        margin-top: 40px;
      }

      ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 14px;
      }

      li{
        width: 50%;
      }

    }

  }
}
@media (min-width: $desktop) {
  .boa-page {

    &__insights{

      &-promo{
        font-size: 100px;
        box-shadow: 0 12px 80px -25px rgba(0,0,0,.25);
      }

    }

  }
}