.customer-hero {
  padding: 50px 10px;
  margin-bottom: 51px;
  background: url(../../img/customer-hero-bacgtound.jpg) repeat #1F396C;
  background-size: cover;
  text-align: center;

  &__title{
    color: #fff;
    font-size: 24px;
    line-height: 1.6;
    font-weight: 400;
  }

}
@media (min-width: $phone-landscape) {
  .customer-hero {

  }
}
@media (min-width: $tablet-portrait) {
  .customer-hero {
    margin-bottom: 121px;

    &__title{
      font-size: 50px;
      letter-spacing: 4px;
      line-height: 60px;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .customer-hero {

  }
}
@media (min-width: $desktop) {
  .customer-hero {

  }
}