.footer {

  &__logo{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    max-width: 175px;

    svg{
      width: 100%;
    }

  }

  &__menu{
    font-size: 14px;

    li{
      margin-bottom: 28px;
    }

    &-item{
      color: rgba(255,255,255,.5);

      &.active{
        pointer-events: none;
        color: #FF7227;
      }

    }

  }

  &__subscribe{
    width: 100%;
    max-width: 379px;
    margin-bottom: 28px;

    > span {
      display: block;
      margin-bottom: 8px;
      color: #FF7227;
      font-size: 14px;
      font-weight: 900;
    }

  }

  &__wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__copyright{
    max-width: calc( 100% - 120px );
    font-size: 14px;
    line-height: 17px;
    color: rgba(255,255,255,.5);
  }

}
@media (min-width: 320px) and (-ms-high-contrast:none),(-ms-high-contrast:active){
  .footer {

    &__logo {
      height: 61px;
    }

  }
}
@media (min-width: $phone-landscape) {
  .footer {

    &__menu{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;

      li {
        width: 33%;
      }

    }

  }
}
@media (min-width: $tablet-portrait) {
  .footer {

    &__subscribe {
      padding-top: 16px;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .footer {

    &__logo {
      margin-bottom: 88px;
    }

    &__menu {
      position: absolute;
      right: 7px;
      bottom: 37px;
      width: auto;
      white-space: nowrap;

      li{
        width: auto;
        margin: 0 0 0 40px;
      }

    }

    &__wrap{
      justify-content: flex-start;
      position: absolute;
      left: 0;
      top: 82px;
      max-width: 55%;
    }

    &__copyright{
      max-width: none;
      margin-left: 20px;
    }

  }
}
@media (min-width: $tablet-landscape) and (-ms-high-contrast:none),(-ms-high-contrast:active){
  .footer {

    &__subscribe{
      position: absolute;
      top: 0;
      right: 0;
    }

  }
}
@media (min-width: $desktop) {
  .footer {

    &__menu,
    &__copyright-menu {

      &-item{
        transition: color .3s ease;

        &:hover{
          color: #FF7227;
        }

      }

    }

    &__subscribe{

      button{
        transition: border-color .3s ease, background-color .3s ease, color .3s ease;

        &:hover{
          border-color: #FF7227!important;
          background-color: #fff!important;
          color: #FF7227!important;
        }

      }

    }

  }
}

