.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  min-height: 378px;
  max-height: 708px;
  padding: 50px 0;
  overflow: hidden;

  img{
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 353px;
    max-height: 100%;
    transform: translate(-50%, -50%);
  }

  &__title{
    position: relative;
    padding: 0 15px;
    color: #fff;
    @include Roboto;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    z-index:1;
  }

  &__sign{
    position: relative;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    z-index: 1;
  }

  &__subscribe{
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: calc( 100% - 30px );
    max-width: 379px;

    & > span{
      display: block;
      margin-bottom: 14px;
      color: #fff;
      font-size: 13px;
      line-height: 17px;
      font-weight: 900;
      text-align: center;
    }

  }

  &_2{
    margin-bottom: 30px;

    .hero__title{
      text-transform: none;
    }

  }

}
@media (min-width: $phone-landscape) {
  .hero {

  }
}
@media (min-width: $tablet-portrait) {
  .hero {
    padding: 0;

    img{
      display: block;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      transform: translate( 0 );
    }

    &__title{
      position: absolute;
      top: 60px;
      left: 50%;
      width: 100%;
      max-width: 631px;
      font-size: 25px;
      line-height: 39px;
      transform: translateX( -50% );
    }

    &__sign{
      position: absolute;
      left: 30px;
      bottom: 45px;
    }

    &__subscribe{
      right: 33px;
      bottom: 32px;

      & > span{
        font-size: 14px;
      }

    }

    &_2{

      .hero__title{
        top: 81px;
      }

    }

  }
}
@media (min-width: $tablet-landscape) {
  .hero {

    &__title{
      max-width: 1044px;
      font-size: 42px;
      line-height: 49px;
    }

    &__sign{
      font-size: 18px;
      line-height: .30px;
    }

  }
}
@media (min-width: $desktop) {
  .hero {

    &_2{
      margin-bottom: 119px;
    }

  }
}

