.innovation-statistics {
  margin-bottom: 135px;
  padding: 41px 15px 0;
  line-height: 30px;

  &__title{
    margin-bottom: 21px;
    color: #1f396c;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;

    span{
      display: block;
    }

  }

  dl{
    max-width: 900px;
    margin: 0 auto;
  }

  dt{
    margin-bottom: 47px;
    color: #171717;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
  }

  dd{
    position: relative;
    margin-bottom: 22px;
    padding-left: 25px;
    color: #72737a;
    font-size: 18px;

    &:before{
      position: absolute;
      top: 6px;
      left: 0;
      width: 18px;
      height: 18px;
      background: url(../../img/icon_arrow.png) no-repeat 0 0;
      background-size: cover;
      content: '';
    }

  }

}
@media (min-width: $phone-landscape) {
  .innovation-statistics {

  }
}
@media (min-width: $tablet-portrait) {
  .innovation-statistics {

    &__title{
      font-size: 35px;
      letter-spacing: 4px;
    }

    dt{
      font-size: 30px;
    }

    dd{
      padding-left: 85px;

      &:before{
        left: 57px;
      }

    }

  }
}
@media (min-width: $tablet-landscape) {
  .innovation-statistics {

    &__title {
      font-size: 50px;
    }

  }
}
@media (min-width: $desktop) {
  .innovation-statistics {
    margin: 0 calc( 50% - 611px) 135px;

  }
}

