.pagination {

  .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-numbers{
    width: 25px;
    margin-right: 12px;
    color: #1F396C;
    font-size: 14px;

    svg{
      width: 24px;
      height: 23px;
    }

    &.current{
      color: #FF7227;
      pointer-events: none;
    }

    &:last-child{
      margin-right: 0;
    }

    &.prev{

      svg{
        transform: rotate(180deg);
      }

    }

  }

}
@media (min-width: $phone-landscape) {
  .pagination {

  }
}
@media (min-width: $tablet-portrait) {
  .pagination {

    .nav-links{
      justify-content: flex-start;
    }

    .page-numbers{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 58px;
      height: 56px;
      border: 1px solid transparent;
      border-radius: 10px;
      font-size: 24px;

      &.current{
        border-color: #FF7227;
      }

      &.prev{
        width: 24px;
        margin-right: 29px;
      }

    }

  }
}
@media (min-width: $tablet-landscape) {
  .pagination {

  }
}
@media (min-width: $desktop) {
  .pagination {

    .page-numbers{
      transition: color .3s ease;

      svg .stroke{
        transition: fill .3s ease;
      }

      &:hover{
        color: #FF7227;

        svg .stroke{
          fill: #FF7227;;
        }

      }

    }

  }
}

