.popup__permission {
  width: 100%;
  max-width: 789px;
  padding: 34px 26px 24px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;

  .popup__text{
    text-align: left;
  }

  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=num],
  textarea{
    display: none;
  }

  .wpcf7-list-item{
    display: block;
    margin: 10px 0;
    user-select: none;

    $checkbox: #FF7227;

    input {
      position: absolute;
      clip: rect(0, 0, 0, 0);

      &:checked + span {

        &:after {
          opacity: 1;
        }

      }

      &:disabled + span {
        cursor: default;
        opacity: .5;
      }

      & + span {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        padding: 0 2px 0 40px;
        text-align: left;
        cursor: pointer;

        &:before,
        &:after{
          position: absolute;
          content: '';
        }

        &:before{
          top: -4px;
          left: 0;
          width: 20px;
          height: 20px;
          border: 1px solid $checkbox;
        }

        &:after{
          top: 0;
          left: 4px;
          width: 14px;
          height: 14px;
          background-color: $checkbox;
          opacity: 0;
          transition: opacity .3s ease;
        }

      }

    }

  }

  .wpcf7-not-valid,
  .wpcf7-validation-errors,
  .wpcf7-spam-blocked,
  .wpcf7-mail-sent-ok,
  .ajax-loader{
    display: none!important;
  }

  .contact-form__pleload{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;

    &.show{
      opacity: 1;
      visibility: visible;
    }

  }

}
@media (min-width: $phone-landscape) {
  .popup__permission {

  }
}
@media (min-width: $tablet-portrait) {
  .popup__permission {
    padding: 80px 26px 135px;

    .wpcf7-list-item{

      input {

        & + span {

          &:before{
            top: 4px;
          }

          &:after{
            top: 8px;
          }

        }

      }

    }

  }
}
@media (min-width: $tablet-landscape) {
  .popup__permission {

  }
}
@media (min-width: $desktop) {
  .popup__permission {

  }
}