.quote {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 0 15px 0 17px;

  &__author{
    margin: 22px 45px 0 0;
    text-align: left;
  }

  &_2{
    padding: 0;

    .quote__author {
      margin: 28px 36px 0 0;
    }

  }

  &_3{
    padding: 0;
  }

}
@media (min-width: $phone-landscape) {
  .quote {

  }
}
@media (min-width: $tablet-portrait) {
  .quote {
    padding: 2px 35px 0 57px;

    &_2{
      padding: 0;
    }

    &_3{
      padding: 0 293px 0 37px;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .quote {

  }
}
@media (min-width: $desktop) {
  .quote {

  }
}

