.stats-to-action {
  margin-bottom: 92px;
  padding: 0 15px;

  &__title{
    margin-bottom: 20px;
    color: #1f396c;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
  }

  &__list{
    padding: 0 20px;

    &-item{
      width: 100%;
      max-width: 583px;
      margin: 0 auto 29px;
      padding: 31px 23px 26px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 0 7px 0 rgba(0,0,0,0.14);
    }

  }

  &__post{
    margin-bottom: 25px;
    color: #74757b;
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  &__slogan{
    margin-bottom: 23px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__roster{
    margin-bottom: 34px;
    color: #5F6067;
    font-size: 14px;
    line-height: 17px;

    li{
      position: relative;
      margin-bottom: 14px;
      padding-left: 28px;

      &:before{
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        background: url(../../img/icon_arrow.png) no-repeat 0 0;
        background-size: cover;
        content: '';
      }

    }

  }

  &__btn-wrap {
    text-align: right;
  }

}
@media (min-width: $phone-landscape) {
  .stats-to-action {

  }
}
@media (min-width: $tablet-portrait) {
  .stats-to-action {

    &__title{
      margin-bottom: 51px;
      font-size: 35px;
      letter-spacing: 4px;
    }

    &__post{
      font-size: 18px;
    }

    &__slogan{
      font-size: 22px;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .stats-to-action {

    &__title {
      font-size: 50px;
    }

    &__list{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: stretch;
      max-width: 1226px;
      padding: 0 20px;

      &-item {
        width: 48.5%;
        margin: 0 0 29px;
      }

    }

  }
}
@media (min-width: $desktop) {
  .stats-to-action {
    margin: 0 calc( 50% - 608px) 92px;

    &__list{

      &-item{
        transition: box-shadow .3s ease;

        &:hover{
          box-shadow: 0 0 14px 0 rgba(0,0,0,0.24);
        }

      }

    }

  }
}

