.why-we-are {
  margin: 0 auto 92px;
  padding: 0 15px;

  &__title{
    margin-bottom: 20px;
    color: #1f396c;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
  }

  &__preface{
    margin-bottom: 56px;
    padding: 0 calc( 50% - 485px );
    color: #121212;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
  }

  ul{
    counter-reset: list 0;
  }

  li{
    margin-bottom: 52px;
    color: #72737a;
    font-size: 18px;
    line-height: 30px;

    dt{
      margin-bottom: 2px;
      color: #000;
      font-size: 24px;
      font-weight: 600;

      &:before{
        display: inline-block;
        counter-increment: list;
        content: counter(list)'.';
        margin-right: 4px;
        @include Lato;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
      }

    }

  }

  &__quote{
    padding: 0 calc( 50% - 375px);
    color: #72737a;
    font-size: 18px;
    line-height: 30px;
    text-align: center;

    & > div{
      margin-bottom: 29px;
    }

  }

  &__footnote{
    position: relative;
    width: 100%;
    max-width: 481px;
    margin-top: 25px;
    padding: 29px 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.14);
    color: #182959;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    background: url('../../img/bg-logo.png') no-repeat 0 0  #fff;
    background-size: 106px;

    p{
      margin-bottom: 20px;

      &:first-child{
        margin-bottom: 35px;
      }

    }

    img{
      display: block;
      margin: 0 0 0 auto;
      width: 112px;
    }

  }

}
@media (min-width: $phone-landscape) {
  .why-we-are {

  }
}
@media (min-width: $tablet-portrait) {
  .why-we-are {

    &__title{
      margin-bottom: 21px;
      font-size: 35px;
      letter-spacing: 4px;
    }

    &__preface {
      margin-bottom: 106px;
    }

    li{
      margin-bottom: 102px;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .why-we-are {

    &__title {
      font-size: 50px;
    }

    &__preface{
      font-size: 30px;
      line-height: 40px;
    }

    li{
      position: relative;
      width: 47%;
    }

    &__footnote{
      position: absolute;
      top: 50%;
      left: calc( 100% + 32px );
      height: 236px;
      margin-top: 0;
      transform: translateY( -48% );

      img{
        position: absolute;
        right: 19px;
        bottom: 30px;
      }

    }

  }
}
@media (min-width: $desktop) {
  .why-we-are {
    max-width: 1222px;
    margin-bottom: 118px;

    li{
      width: 57%;
    }

  }
}